/*
Assessment: Assignment 2
Student Names: Jordan Chen, Kyle Ryc, Renato Simoes
Student Number: 041050455, 040778889, 040908766
Lab Professor: Hala Own
Due Date: December 4th 2022
*/

/*
Content created by: Renato Simoes
*/

head, body {
    position:static; justify-content:80px;
    margin: auto;
    max-width: 500px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: rgb(208, 216, 221);
    text-align: left;
}

textarea {
    resize: none;
    font-size: medium;
}

fieldset {
    background-color: white;
    display: block;
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    block-size: 180px;
    resize: both;
    overflow: auto;
}

#regfield {
    background-color: white;
    display: inline-block;
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    block-size: 450px;
    flex-wrap: wrap;
    position: relative;
    white-space: wrap;
    resize: both;
    overflow: auto;
}

#genquizfield {
    background-color: white;
    display: inline-block;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
    block-size: 450px;
    flex-wrap: wrap;
    position: relative;
    white-space: wrap;
    resize: both;
    overflow: auto;
}

table {
    background-color: white;
    border-style: solid;
    border-color: black;
    display: grid;
    border-collapse: collapse;
    min-width: 100%;
    grid-template-columns: 
        minmax(150px, 1fr)
        minmax(150px, 1.67fr)
        minmax(150px, 1.67fr)
        minmax(150px, 1.67fr)
        minmax(150px, 3.33fr)
        minmax(150px, 1.67fr)
        minmax(150px, 3.33fr)
        minmax(150px, 1.67fr);
}

img {
    float: center;
    margin: 10px;
    max-width: 100%;
}

#username, #password, #password2, #firstname, #lastname {
    display: block;
    width: 10cm;
    margin-top: 10px;
    margin-bottom: 5px;
    block-size: 25px;
}

#classid {
    display: float;
    width: 4cm;
    font-size: medium;
}

#correctanswer, #incorrectanswer1, #incorrectanswer2, #incorrectanswer3 {
    display: static;
    width: 5cm;
    font-size: medium;
    margin: auto;
}

.incomplete {
    border-color: red;
    color: red;
    font-size: smaller;
}

button {
    color: white;
    border-radius: 10px;
    padding: 10px;
    border-color: white;
    cursor: pointer;
}

button:first-of-type {
    background-color: #1E90FF;
}

button[type="submit"]:hover{
    border: 2px solid #1E90FF;
    background-color: transparent;
    color: #1E90FF;
}

button[type="home"]:hover{
    border: 2px solid #1E90FF;
    background-color: transparent;
    color: #1E90FF;
}
